@charset "UTF-8";

.ellipsis{
  overflow: hidden; /* 사용영역 감춤 */
  text-overflow: ellipsis;
  white-space: nowrap; /* 줄바꿈 방지 */
  /* height: 20px; */
}
.table-list{
	table-layout:fixed; /* 테이블 너비 고정 :데이터 길이와 상관없이 너비 고정  */
}
.th-num{
	text-align:center; 
	width: 10%;
}
.th-title{
	text-align:center; 
}
.th-writer{
	text-align: center;  
	width: 20%;
}
.th-regidate{
	text-align:center; 
	width: 15%;
}
.center{
	text-align: center;
}



