<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.web.board.BoardMapper">
<resultMap type="map" id="board">
	<result property="rownum" column="ROWNUM"/>
	<result property="num" column="NUM"/>
	<result property="title" column="TITLE"/>
	<result property="content" column="CONTENT"/>
	<result property="writer" column="WRITER"/>
	<result property="pw" column="PW"/>
	<result property="regidate" column="REGIDATE"/>
	<result property="checkdelete" column="CHECKDELETE"/>
	<result property="parent" column="PARENT"/>
	<result property="ord" column="ORD"/>
	<result property="depth" column="DEPTH"/>
	
	<result property="cmt_no" column="CMT_NO"/>
	<result property="cmt_writer" column="CMT_WRITER"/>
	<result property="cmt_pw" column="CMT_PW"/>
	<result property="cmt_content" column="CMT_CONTENT"/>
</resultMap>

<!--
============================================================
						원글 ARTICLE		 	
============================================================
-->
<insert id="insertBoard">
	INSERT INTO T_BOARD (TITLE, CONTENT, WRITER, PW) 
	VALUES (#{title}, #{content} ,#{writer},#{pw});
</insert>

<select id="listBoard"  resultMap="board">
SELECT ROWNUM, NUM, TITLE, CONTENT, WRITER, PW, REGIDATE, CHECKDELETE	
		,PARENT, ORD, DEPTH
FROM	(
	SELECT @ROWNUM:=@ROWNUM+1 as ROWNUM, T.*
	FROM (
		SELECT  A.*
		FROM T_BOARD A , (SELECT @ROWNUM:=0) R 
		WHERE ((CHECKDELETE IS NULL AND PARENT IS NULL) OR (PARENT IS NOT NULL))
		<if test="keyword!='undefined' and keyword!=''">
			AND (TITLE LIKE CONCAT('%', #{keyword}, '%'))
		</if>
		ORDER BY IF(ISNULL(PARENT),NUM,PARENT) DESC, ORD IS NULL DESC, ORD DESC
		) T
	) S	
WHERE ROWNUM BETWEEN #{beginRow} AND #{endRow}
</select>

<select id="detailBoard" resultType="com.board.web.board.Board">
	SELECT NUM, TITLE, CONTENT, WRITER,PW, REGIDATE 
		,PARENT, ORD, DEPTH
	FROM T_BOARD
	WHERE NUM LIKE #{num}
</select>

<select id="countTotalContents" resultType="int">
	SELECT COUNT(*) AS COUNT  
	FROM T_BOARD 
	WHERE ((CHECKDELETE IS NULL AND PARENT IS NULL) OR (PARENT IS NOT NULL))
	<if test="keyword!='undefined' and keyword!=''">
		AND TITLE LIKE CONCAT('%', #{keyword}, '%')
	</if>
</select>

<select id="countlist" resultType="int">
SELECT MAX(ROWNUM)
FROM	(
	SELECT @ROWNUM:=@ROWNUM+1 as ROWNUM, T.*
	FROM (
		SELECT  A.*
		FROM T_BOARD A , (SELECT @ROWNUM:=0) R 
		WHERE ((CHECKDELETE IS NULL AND PARENT IS NULL) OR (PARENT IS NOT NULL))
		<if test="keyword!='undefined' and keyword!=''">
		AND TITLE LIKE CONCAT('%', #{keyword}, '%')
		</if>
		GROUP BY IF(ISNULL(PARENT),NUM,PARENT)
		ORDER BY IF(ISNULL(PARENT),NUM,PARENT) DESC, ORD IS NULL DESC, ORD DESC
		) T
	) S	

</select>

<update id="updateBoard">
	UPDATE T_BOARD 
	SET TITLE = #{title},
		CONTENT = #{content},
		WRITER = #{writer},
		PW = #{pw}
	WHERE NUM = #{num};
</update>
<!-- 
<delete id="deleteBoard">
	DELETE FROM T_BOARD 
	WHERE NUM =#{num};
</delete> -->
<update id="deleteBoard">
	UPDATE T_BOARD
	SET 
		CHECKDELETE ="Y",
	 	TITLE ='', 
	 	CONTENT =''
	WHERE NUM =#{num};
</update>

<!--
============================================================
						답글 REPLY		 	
============================================================
-->
<insert id="insertReply">
<![CDATA[
	INSERT INTO T_BOARD (TITLE, CONTENT, WRITER, PW, PARENT,ORD, DEPTH) 
	VALUES (#{title}, #{content} ,#{writer},#{pw}, #{parent},#{ord}, #{depth}+1);
]]>
</insert>

<select id="checkOrd" resultType="Integer">
SELECT MAX(ORD) 
FROM T_BOARD
WHERE PARENT LIKE #{parent}
</select>

<select id="countArticleBefore" resultType="Integer">
SELECT COUNT(*)
FROM (
	SELECT @ROWNUM:=@ROWNUM+1 as ROWNUM, T.*
	FROM (
		SELECT  A.*
		FROM T_BOARD A , (SELECT @ROWNUM:=0) R 
		WHERE ((CHECKDELETE IS NULL AND PARENT IS NULL) OR (PARENT IS NOT NULL))
		<if test="keyword!='undefined' and keyword!=''">
			AND (TITLE LIKE CONCAT('%', #{keyword}, '%'))
		</if>
		ORDER BY IF(ISNULL(PARENT),NUM,PARENT) DESC, ORD IS NULL DESC, ORD DESC
		) T
	) S	
WHERE PARENT IS NULL  AND  ROWNUM BETWEEN 1 AND #{beforePageEndRow}
</select>

<select id="countReplyTotal" resultType="Integer">
SELECT 
		COUNT(PARENT)
FROM	(
	SELECT @ROWNUM:=@ROWNUM+1 as ROWNUM, T.*
	FROM (
		SELECT  A.*
		FROM T_BOARD A , (SELECT @ROWNUM:=0) R 
		WHERE ((CHECKDELETE IS NULL AND PARENT IS NULL) OR (PARENT IS NOT NULL))
		<if test="keyword!='undefined' and keyword!=''">
			AND (TITLE LIKE CONCAT('%', #{keyword}, '%'))
		</if>
		ORDER BY IF(ISNULL(PARENT),NUM,PARENT) DESC, ORD IS NULL DESC, ORD DESC
		) T
	) S
<!-- SELECT 
		COUNT(PARENT)
FROM	(
	SELECT @ROWNUM:=@ROWNUM+1 as ROWNUM, T.*
	FROM (
		SELECT  A.*
		FROM T_BOARD A , (SELECT @ROWNUM:=0) R 
		WHERE ((CHECKDELETE IS NULL AND PARENT IS NULL) OR (PARENT IS NOT NULL))
		<if test="keyword!='undefined' and keyword!=''">
			AND (TITLE LIKE CONCAT('%', #{keyword}, '%'))
		</if>
		ORDER BY IF(ISNULL(PARENT),NUM,PARENT) DESC, ORD IS NULL DESC, ORD DESC
		) T
	) S	
WHERE ROWNUM BETWEEN 1 AND #{beforePageEndRow} -->
</select>

<!--
============================================================
						댓글	COMMENT	 	
============================================================
-->
<insert id="insertComments">
INSERT INTO COMMENTS (BR_NO, CMT_WRITER, CMT_PW, CMT_CONTENT)
VALUES (
	#{num},
	#{cmt_writer},
	#{cmt_pw},
	#{cmt_content}
);
</insert>
<select id="detailComments" resultType="com.board.web.board.Comments">
SELECT * FROM COMMENTS
WHERE BR_NO LIKE #{num} AND CMT_NO LIKE #{cmt_no}
</select>
<select id="listComments" resultMap="board">
SELECT * FROM COMMENTS
WHERE BR_NO LIKE #{num}
ORDER BY CMT_NO 
</select>
<update id="updateComments">
UPDATE COMMENTS 
	SET CMT_WRITER = #{cmt_writer},
		CMT_PW = #{cmt_pw},
		CMT_CONTENT = #{cmt_content}
	WHERE BR_NO LIKE #{num} AND CMT_NO LIKE #{cmt_no}
</update>
<delete id="deleteComments">
DELETE FROM COMMENTS
WHERE BR_NO LIKE #{num} AND CMT_NO LIKE #{cmt_no}
</delete>
<select id="countComments" resultType="int">
SELECT COUNT(*) FROM COMMENTS
WHERE BR_NO LIKE #{num}
</select>



</mapper>



<!-- 
	SELECT @ROWNUM:=@ROWNUM+1 as ROWNUM, NUM, TITLE, CONTENT, WRITER, PW, REGIDATE, CHECKDELETE
	FROM (
		SELECT  A.*
		FROM T_BOARD A 
		, (SELECT @ROWNUM:=0) R 
		 WHERE CHECKDELETE IS NULL
		<if test="keyword!='undefined' and keyword!=''">
			AND TITLE LIKE CONCAT('%', #{keyword}, '%')
		</if>
		ORDER BY NUM DESC
		) T 
	WHERE ROWNUM BETWEEN #{beginRow} AND #{endRow} -->
	

<!-- <select id="listBoard"  resultMap="board">
	SELECT @ROWNUM:=@ROWNUM+1 as ROWNUM, NUM, TITLE, CONTENT, WRITER, PW, REGIDATE, CHECKDELETE
	FROM (
		SELECT  A.*
		FROM T_BOARD A (SELECT @ROWNUM:=0) R
		WHERE CHECKDELETE IS NULL
		<if test="keyword!='undefined' and keyword!=''">
		AND TITLE LIKE CONCAT('%', #{keyword}, '%')
		</if>
		ORDER BY NUM DESC
		) T
	WHERE ROWNUM BETWEEN #{beginRow} AND #{endRow}
	
</select> -->
<!-- 
<select id="listBoard"  resultMap="board">
	SELECT NUM, TITLE, CONTENT, WRITER, PW, REGIDATE 
	FROM (
		SELECT @ROWNUM:=@ROWNUM+1 as ROWNUM, A.*
		FROM T_BOARD A, (SELECT @ROWNUM:=0) R
		<if test="keyword!='undefined' and keyword!=''">
		WHERE TITLE LIKE CONCAT('%', #{keyword}, '%')
		</if>
		ORDER BY NUM DESC
		) T
	WHERE ROWNUM BETWEEN #{beginRow} AND #{endRow}
</select> -->